# =============== #
# Unity generated #
# =============== #
/[Tt]emp/
/[Oo]bj/
/[Bb]in/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ibrary/
/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs/
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.ipch
*.opensdf
*.sdf
*.tlog
*.log
*.idb
*.opendb

#  Unity3d Meta files
*.pidb.meta

# Unity Crash reports
sysinfo.txt

# Build versions and packages

*.apk
*.unitypackage 

 